{% extends 'main.html' %}

{% block content %}

<title>USER DASHBOARD</title>

<style>
    .dashboard {
        margin: 50px;
        display: block;
    }
</style>

<title>USER DASHBOARD</title>

<br>
<br>

<div class="container">
    <div class="dashboard">
        <h1>USER DASHBOARD</h1>

        <span class="hello-msg">Hello, {{request.user}}</span>
        <span><a class="hello-msg" href="{% url 'logout' %}">Logout</a></span>

    </div>

    <label class="form-label" for="customFile">Upload Image</label>
    <input type="file" class="form-control" id="customFile" />

</div>



<br>
<br>




{% endblock content%}